---
import Layout from "@/components/component/Layout.astro";
const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/login");
}
---


<Layout>
		<div class="mx-auto max-w-md text-center my-12">
		  <h1 class="mt-4 text-3xl font-bold tracking-tight text-foreground sm:text-4xl">Welcome back, {user.username}!</h1>
		  <p class="mt-4 text-muted-foreground">
			We're thrilled to have you back. Let's dive in and make the most of your time with us.
		  </p>
		</div>
</Layout>	



