---
import Layout from "@/components/component/Layout.astro";
import { db } from "@/lib/db/postgres";
import { conditionsTable } from "@/lib/db/schema";
import {Component} from "@/components/component/AreaChart"
import { asc, desc } from 'drizzle-orm';

const user = Astro.locals.user;
if (!user) {
    return Astro.redirect("/login");
}

const chartdata = await db.select().from(conditionsTable).orderBy(asc(conditionsTable.time)).limit(3600);


---

<Layout>
    <main class="container relative mt-12">
        
    
    <Component chartData={chartdata} client:load></Component>

    </main>
</Layout>